<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style_appointment.css">
    </head>
    <body>
        <header>
            <div id="blue"></div>
            <div class="boxes" id="box-1">
                <div class="photo" id="doc1"></div>
                <div class="info">
                    <div class="content"><h1>Name: Rahul Nanda</h1></div>
                    <div class="content"><h1>Specialisation: Orthopedic</h1></div>
                    <div class="content"><h1>Primary location: Mumbai Hospital</h1></div>
                    <div class="content"><h1>Types Of Doctor: Adults Only</h1></div>
                    <div class="content"><h1>Languages: English,Hindi,Malayalam</h1></div>
                </div>
            </div>
        </header>
        <hr>
        <h1 id="slots">Available slots</h1>
        <div class="container">
            <div class="baksa" id="baksa-1">9.00 am - 10.00 am</div>
            <div class="baksa" id="baksa-2">10.00 am - 11.00 am</div>
            <div class="baksa" id="baksa-3">11.00 am - 12.00 pm</div>
            <div class="baksa" id="baksa-4">1.00 pm - 2.00pm</div>
            <div class="baksa" id="baksa-5"></div>
            <div class="baksa" id="baksa-6"></div>
            <div class="baksa" id="baksa-7"></div>
            <div class="baksa" id="baksa-8"></div>
            <div class="baksa" id="baksa-9"></div>
            <div class="baksa" id="baksa-10"></div>
            <div class="baksa" id="baksa-11"></div>
            <div class="baksa" id="baksa-12"></div>
        </div>
        <script src="" async defer></script>
    </body>
</html>