<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>


    <form action="/login" method="post" >
        <div id="container">
            <h1>Login</h1>
            <input placeholder="Email id" name="Email id" type="text">
            <br>
            <input placeholder="Password" name="password" type="password">
            <br>
            <input class="sub" type="submit" value="Sign In" >
            <h3>Dont have a account ?</h3>
            <a href="/signup">Create a new account</a>
        </div>
    </form>

    
</body>
</html>